<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Machine</h2>
        </div>
        <img src="https://randomuser.me/api/portraits/lego/3.jpg" alt="humanRobo">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
</mat-nav-list>